.result_title {
  display: block;
  font-weight: 600;
  color: rgb(33, 37, 41);
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.result_location {
  font-size: 14px;
  line-height: 18px;
  margin-top: 6px;
  color: rgb(134, 142, 150);
}
.result_price {
  font-weight: 600;
  color: rgb(255, 138, 61);
  font-size: 15px;
  line-height: 18px;
  margin-top: 6px;
}

.img {
  width: 100%;
  display: block;
  transform: translate(0, -13%);
}
.card_photo {
  height: 160px;
  overflow: hidden;
  background-color: #f8f9fa;
  border-radius: 8px;
  font-size: 62.5%;
}
