.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  /*색상 반전*/
  filter: invert(100%);
}
.carousel-indicators {
  filter: invert(100%);
}

.center_line_up {
  margin: 0 auto;
  font-size: small;
  margin-top: 1.5rem;
}

.flat_card {
  position: relative;
  text-align: left;
  display: inline-block;
  border-radius: 8px;
  width: 217px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 34px;
  margin-bottom: 40px;
  border: 2px solid #e9ecef;
}

.card_background {
  border-radius: 8px;
  border: 1px solid #e9ecef;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 1.1em;
  padding-right: 1.1em;
}

.background {
  border-radius: 8px;
  border: 1px solid #e9ecef;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 1.1em;
  padding-right: 1.1em;
}
.result_title {
  display: block;
  font-weight: 600;
  color: rgb(33, 37, 41);
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.result_location {
  font-size: 14px;
  line-height: 18px;
  color: rgb(134, 142, 150);
}

.seller {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #212529;
}

.profile {
  /* display: inline-block; */
  border-bottom: 1px solid #e9ecef;
}

.article_counts {
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.6px;
  color: #868e96;
}
