.logo {
  font-size: 45px;
  text-decoration-line: none;
  font-family: "Sansita Swashed", cursive;
}

.SignLogo {
  font-size: 70px;
  text-decoration-line: none;
  font-family: "Sansita Swashed", cursive;
}
