.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: overlay;
  flex-direction: column;
}
.layout {
  display: flex;
  flex: 1;
  margin-top: 56px;
}
.contents {
  flex: 1;
  margin-left: 240px;
}
.clickcontents {
  flex: 1;
  margin-left: 72px;
}

@media screen and (max-width: 911px) {
  .contents {
    margin-left: 72px;
  }
  .allcontens {
    flex: 2;
    margin-left: 72px;
  }
}
