.carousel-control-next,
.invertPrev /*, .carousel-indicators */ {
  /*색상 반전*/
  filter: invert(100%);
}
.invertIndicators {
  filter: invert(100%);
}

.center_line_up {
  margin: 0 auto;
  font-size: small;
  margin-top: 1.5rem;
}
